
:root {
  --guidedtour-widget-text-color: var(--text-color);
  --guidedtour-widget-text-color-muted: var(--text-muted);
  --guidedtour-widget-background-color: var(--body-bg);
  --guidedtour-widget-highlighted-background-color: var(--xwiki-background-secondary-color);
  --guidedtour-widget-progress-bar-bg: var(--brand-primary, #7698ff);
}